@charset "Shift_Jis";

a.style1{
font-size:0.75em;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
}

a.style1:hover{
-webkit-trasnform: scale(1.1);
transform: scale(1.1);
}

a.style2{
font-size:0.75em;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
background:#cccccc;
}

a.style2:hover{
-webkit-trasnform: scale(1.1);
transform: scale(1.1);
}

a.style3{
font-size:0.75em;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
background:#ee0000;
}

a.style3:hover{
-webkit-trasnform: scale(1.1);
transform: scale(1.1);
}

a.style4{
font-size:0.75em;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
background:#00ff00;
}

a.style4:hover{
-webkit-trasnform: scale(1.1);
transform: scale(1.1);
}
